#nprogress {
  pointer-events: none;
}

#nprogress .bar {
  background: rgb(251 146 60);
  position: fixed;
  z-index: 99999;
  top: 0;
  left: 0;
  width: 100%;
  height: 2px;
  box-shadow: 0 0 3px 0 rgb(255 137 40 / 1);
  border-radius: 1px;
}
